<main></main>
<div class="container">
  <form class="changeP" method="post" action="/changePassword?_method=PUT">
  <input type="hidden" name="_method" value="PUT">
  <label for="regNumber">regNumber</label>
  <input class="changePasswordRegNumberForm" type="regNumber" name="regNumber" required placeholder="FORMAT : YEAR/LEVEL/DEPARTMENT/NUMBER">
<label for="currentPassword">current password</label>
<input type="password" name="currentPassword" required> 
<label for="newPassword">new password</label>
<input type="password" name="newPassword" required> 
<label for="confirmNewPassword">confirm password</label>
<input type="password" name="confirmNewPassword" required> 
<input type="submit" value="reset" id="submitButton">
</form></div>
</main>

<footer class="page-footer brown darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">VotingApllication</h5>
        <p class="grey-text text-lighten-4">your vote is your power</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="green-text"><a href="/vote">VOTE</a></h5>
        <ul>
          <li><a class="blue-text text-lighten-3" href="https://youtube.com"><i class="fa fa-address-book-o" aria-hidden="true">youtube</i></a></li>
          <li><a class="grey-text text-lighten-3" href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true">facebook</i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
     online votePollApplication votePollApp developed by George Nwagbara a.k.a BlackHandsome
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>