<div class=" mb-5" role="alert">
  <img class="img-circle d-none d-lg-inline mr-3 pull-left" height="100" width="100" id="tttt" src="/img/img5.jpg">
  <img class="thumbnail d-none d-lg-inline ml-3 pull-right" height="100" width="100" src="/img/img3.jpg">
  <h4 class="center blue-text mt-0 indexHeadings">Imo State Polytechnic Umuagwo <br> P.M.B :1472</h4>
</div>
<div class="jumbotron  mt-2 wrapper animated bounceInRight" id="homeDiv">

<div class="center  blue-text"> 
  <h2 class="center indexHeadings mt-0">VOTE  FOR  THE  NEXT  IMOPOLY </h2></div>
<div class="center  blue-text "><p><h2 class="h2p indexHeadings">SUG PRESIDENT</h2></p></div>
<p class="text-primary">
  Welcome to  {{year}} Imo State Polytechnic Online Voting portal, where you will vote for the sug presidential election
  this site allows you to cast your votes successfully, to be eligible for voting ensure you pay up your sug fees
  before the {{votingDay}}/{{votingMonth}}/{{votingYear}} which is the day that the voting commences.  
  The voting processes will be conducted withing three days and the activities will be monitored toroughly by the school
  management. 

  
</p>
</div>

<div id="Magic" class="Carousel slide mb-3" data-ride="carousel">

<div class="carousel-inner" role="listbox">
<div class="carousel-item active">
  <img class="d-block w-100 carolImg"height="400" src="/img/img6.jpg" alt="first slide">
  <div class="carousel-caption">
    
  </div>
</div>
<div class="carousel-item ">
  <img class="resonsive-img w-100 carolImg" height="400" src="/img/vote2.jpg" alt="first slide">
  <div class="carousel-caption">
   
  </div>
</div>
<div class="carousel-item">
  <img class="d-block w-100 carolImg" height="400"  src="/img/vote.jpg" alt="first slide">
  <div class="carousel-caption">
   
  </div>
</div>
<div class="carousel-item">
  <img class="d-block w-100 carolImg" height="400" src="/img/img3.jpg" alt="first slide">
  <div class="carousel-caption">
   
  </div>
</div>
</div>
</div>