      <div class="row">
        <div class="col-3" > <img class="aboutImg" src=" /img/vote.jpg" width="150"></div>
        <div class="col-9"><h3 class="pl-4 text-danger about" >2019/2020 IMOPOLY SUG PRESIDENTIAL ELECTION</h3></div>
      </div>
      
     
      <p class="center">
        <marquee class="text-success" width="50%" >LOGIN WITH THE PASSWORD SENT TO YOUR PHONE AND YOUR REGISTRATION NUMBER AND VOTE FOR THE NEXT SUG PRESIDENT</marquee>
      </p>
      <p class="lead text-info aboutP" >To be able cast your vote and decide your choice on who you wants to be the 
        next SUG PRESIDENT of Imo State Polytechnic for the 2018/2019 academic session you have to login your 
        credential/details which include your department, your registration number and your password that was 
        sent to your email or phone number so as to clerify that you are a student of the institution.
      Remember you can only vote once.
       you can also remove your vote if you choose to, provided
         that you have voted before.
         your vote counts vote wisely
      </p>
      <hr class="my-2">
    
      <p class="lead">
        <a class="btn-info btn-lg" href="/" role="button">Home</a>
      </p>
  